ul {
    display: flex;
    list-style: none;
    margin-top: 26px;
    padding: 0;
    li {
        cursor: pointer;
        padding: 0 8px;
        .star {
            margin: 50px 0;
            position: relative;
            display: block;
            color: transparent;
            width: 0px;
            height: 0px;
            border-right: 100px solid transparent;
            border-bottom: 70px solid grey;
            border-left: 100px solid transparent;
            transform: rotate(35deg);
            &::before {
                border-bottom: 80px solid grey;
                border-left: 30px solid transparent;
                border-right: 30px solid transparent;
                position: absolute;
                height: 0;
                width: 0;
                top: -45px;
                left: -65px;
                display: block;
                content: '';
                transform: rotate(-35deg);
            }
            &::after {
                position: absolute;
                display: block;
                color: black;
                top: 3px;
                left: -105px;
                width: 0px;
                height: 0px;
                border-right: 100px solid transparent;
                border-bottom: 70px solid grey;
                border-left: 100px solid transparent;
                transform: rotate(-70deg);
                content: '';
            }
        }
        .selected {
            border-bottom-color: #f1c50d;
            &::before {
                border-bottom-color: #f1c50d;
            }
            &::after {
                border-bottom-color: #f1c50d;
            }
        }
    }
}
